.main-header {
  background: transparent;
  z-index: 999;
}

.navbar-brand {
  font-family: 'Satisfy';
  font-size: 1.5rem !important;
  color: white;
}

.nav-link {
  color: white !important;
  font-size: 1.2rem !important;
  transition: color 0.3s ease;
  font-family: 'Satisfy'; 
}

.nav-link:hover {
  color: #ff8c42 !important;
}

.navbar .dropdown-toggle {
  font-weight: 500;
  color: white !important;
  font-size: 1.6rem;
}

.navbar .dropdown-toggle:hover,
.navbar .dropdown-toggle:focus {
  color: #ff8c42 !important;
}

.dropdown-menu {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  border: none;
  min-width: 200px;
  transition: all 0.2s ease-in-out;
  display: none;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-item {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #333;
  transition: background-color 0.2s ease-in-out;
  font-family: 'Satisfy';
}

.dropdown-item:hover {
  background-color: #e3f2fd;
  border-radius: 6px;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background: #00000080;
    padding: 10px;
    border-radius: 10px;
  }

  .nav-link {
    text-align: center;
  }
}

.navbar {
  background-color: transparent;
  transition: all 0.4s ease;
}

.navbar.scrolled {
  background-color: #00000080 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .nav-link,
.navbar.scrolled .navbar-brand,
.navbar.scrolled .dropdown-toggle {
  color: rgb(255, 255, 255) !important;
}
