.gallery-img {
  height: 140px; /* ảnh nhỏ lại */
  width: auto;   /* giữ tỉ lệ ảnh */
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  cursor: pointer;
  object-fit: cover;
}

.gallery-img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  filter: brightness(0.9);
}
